<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/5b447fa3-504c-4c89-9e0f-d69202108fa1/resourcegroups/UOBEVENTCodefirst220200524011059ResourceGroup/providers/Microsoft.Web/sites/UOBEVENTHUB</ResourceId>
    <ResourceGroup>UOBEVENTCodefirst220200524011059ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://uobeventhub.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>uobeventhub.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>UOBEVENTHUB</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$UOBEVENTHUB</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="EventDBContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:uobeventhubdbserver.database.windows.net,1433;Initial Catalog=UOBEVENTHUB_db;User ID=ald45@uobeventhubdbserver;Password=Fabcak9p" Name="Data Source=tcp:uobeventhubdbserver.database.windows.net,1433;Initial Catalog=UOBEVENTHUB_db;User Id=ald45@uobeventhubdbserver;Password=Fabcak9p" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="UOBEVENT_Code_first_2.Models.EventDBContext, UOBEVENT Code first 2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:uobeventhubdbserver.database.windows.net,1433;Initial Catalog=UOBEVENTHUB_db;User ID=ald45@uobeventhubdbserver;Password=Fabcak9p" Name="Data Source=tcp:uobeventhubdbserver.database.windows.net,1433;Initial Catalog=UOBEVENTHUB_db;User Id=ald45@uobeventhubdbserver;Password=Fabcak9p" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="UOBEVENT_Code_first_2.Models.ApplicationDbContext, UOBEVENT Code first 2" MigrationConfiguration="UOBEVENT_Code_first_2.Migrations.Configuration, UOBEVENT Code first 2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:uobeventhubdbserver.database.windows.net,1433;Initial Catalog=UOBEVENTHUB_db;User Id=ald45@uobeventhubdbserver;Password=Fabcak9p</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="EventDBContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:uobeventhubdbserver.database.windows.net,1433;Initial Catalog=UOBEVENTHUB_db;User Id=ald45@uobeventhubdbserver;Password=Fabcak9p</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>