@model IEnumerable<UOBEVENT_Code_first_2.Models.Attending>

@{
    ViewBag.Title = "Guests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h1 class="font1 text-UoBPurple">Users attending</h1>
<hr />


@foreach (var item in Model)
{

    <p> @Html.DisplayFor(modelItem => item.UserID)</p>;



}


