
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Success</h2>
<p>You have succesfully left the event!</p>
@Html.ActionLink("Back to your upcoming events", "Index")
