
.marginB {
    padding-bottom: 25px;
}

.marginL {
    padding-bottom: 25px;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.bg-white {
    background-color: #ffffff !important;
}


/*------------------------------------
- My Fonts
------------------------------------*/
.font1 {
    font-family: 'Raleway', sans-serif;
}
.font2 {
    font-family: 'Cabin', sans-serif;
}



/*------------------------------------
- COLOR UoBPurple
------------------------------------*/
.alert-UoBPurple {
    color: #28073c;
    background-color: #cf97f2;
    border-color: #c784f0;
}

    .alert-UoBPurple hr {
        border-top-color: #bd6eed;
    }

    .alert-UoBPurple .alert-link {
        color: #09010e;
    }

.badge-UoBPurple {
    color: #fff;
    background-color: #7114aa;
}

    .badge-UoBPurple[href]:hover, .badge-UoBPurple[href]:focus {
        color: #fff;
        background-color: #520e7c;
    }

.bg-UoBPurple {
    background-color: #7114aa !important;
}

a.bg-UoBPurple:hover, a.bg-UoBPurple:focus,
button.bg-UoBPurple:hover,
button.bg-UoBPurple:focus {
    background-color: #520e7c !important;
}

.border-UoBPurple {
    border-color: #7114aa !important;
}

.btn-UoBPurple {
    color: #fff;
    background-color: #7114aa;
    border-color: #7114aa;
}

    .btn-UoBPurple:hover {
        color: #fff;
        background-color: #5b108a;
        border-color: #520e7c;
    }

    .btn-UoBPurple:focus, .btn-UoBPurple.focus {
        box-shadow: 0 0 0 0.2rem rgba(113, 20, 170, 0.5);
    }

    .btn-UoBPurple.disabled, .btn-UoBPurple:disabled {
        color: #fff;
        background-color: #7114aa;
        border-color: #7114aa;
    }

    .btn-UoBPurple:not(:disabled):not(.disabled):active, .btn-UoBPurple:not(:disabled):not(.disabled).active, .show > .btn-UoBPurple.dropdown-toggle {
        color: #fff;
        background-color: #520e7c;
        border-color: #490d6e;
    }

        .btn-UoBPurple:not(:disabled):not(.disabled):active:focus, .btn-UoBPurple:not(:disabled):not(.disabled).active:focus, .show > .btn-UoBPurple.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.2rem rgba(113, 20, 170, 0.5);
        }

.btn-outline-UoBPurple {
    color: #7114aa;
    background-color: transparent;
    border-color: #7114aa;
}

    .btn-outline-UoBPurple:hover {
        color: #fff;
        background-color: #7114aa;
        border-color: #7114aa;
    }

    .btn-outline-UoBPurple:focus, .btn-outline-UoBPurple.focus {
        box-shadow: 0 0 0 0.2rem rgba(113, 20, 170, 0.5);
    }

    .btn-outline-UoBPurple.disabled, .btn-outline-UoBPurple:disabled {
        color: #7114aa;
        background-color: transparent;
    }

    .btn-outline-UoBPurple:not(:disabled):not(.disabled):active, .btn-outline-UoBPurple:not(:disabled):not(.disabled).active, .show > .btn-outline-UoBPurple.dropdown-toggle {
        color: #fff;
        background-color: #7114aa;
        border-color: #7114aa;
    }

        .btn-outline-UoBPurple:not(:disabled):not(.disabled):active:focus, .btn-outline-UoBPurple:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-UoBPurple.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.2rem rgba(113, 20, 170, 0.5);
        }

.list-group-item-UoBPurple {
    color: #28073c;
    background-color: #c784f0;
}

    .list-group-item-UoBPurple.list-group-item-action:hover, .list-group-item-UoBPurple.list-group-item-action:focus {
        color: #28073c;
        background-color: #bd6eed;
    }

    .list-group-item-UoBPurple.list-group-item-action.active {
        color: #fff;
        background-color: #28073c;
        border-color: #28073c;
    }

.table-UoBPurple,
.table-UoBPurple > th,
.table-UoBPurple > td {
    background-color: #c784f0;
}

.table-hover .table-UoBPurple:hover {
    background-color: #bd6eed;
}

    .table-hover .table-UoBPurple:hover > td,
    .table-hover .table-UoBPurple:hover > th {
        background-color: #bd6eed;
    }

.text-UoBPurple {
    color: #7114aa !important;
}

a.text-UoBPurple:hover, a.text-UoBPurple:focus {
    color: #520e7c !important;
}

/*------------------------------------
- COLOR Swhite
------------------------------------*/
.alert-Swhite {
    color: #b1b1b1;
    background-color: #155155155;
    border-color: #14a14a14a;
}

    .alert-Swhite hr {
        border-top-color: #13e13e13e;
    }

    .alert-Swhite .alert-link {
        color: #989898;
    }

.badge-Swhite {
    color: #212529;
    background-color: #efefef;
}

    .badge-Swhite[href]:hover, .badge-Swhite[href]:focus {
        color: #212529;
        background-color: #d5d5d5;
    }

.bg-Swhite {
    background-color: #efefef !important;
}

a.bg-Swhite:hover, a.bg-Swhite:focus,
button.bg-Swhite:hover,
button.bg-Swhite:focus {
    background-color: #d5d5d5 !important;
}

.border-Swhite {
    border-color: #efefef !important;
}

.btn-Swhite {
    color: #212529;
    background-color: #efefef;
    border-color: #efefef;
}

    .btn-Swhite:hover {
        color: #212529;
        background-color: #dddddd;
        border-color: #d5d5d5;
    }

    .btn-Swhite:focus, .btn-Swhite.focus {
        box-shadow: 0 0 0 0.2rem rgba(239, 239, 239, 0.5);
    }

    .btn-Swhite.disabled, .btn-Swhite:disabled {
        color: #212529;
        background-color: #efefef;
        border-color: #efefef;
    }

    .btn-Swhite:not(:disabled):not(.disabled):active, .btn-Swhite:not(:disabled):not(.disabled).active, .show > .btn-Swhite.dropdown-toggle {
        color: #212529;
        background-color: #d5d5d5;
        border-color: #cdcdcd;
    }

        .btn-Swhite:not(:disabled):not(.disabled):active:focus, .btn-Swhite:not(:disabled):not(.disabled).active:focus, .show > .btn-Swhite.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.2rem rgba(239, 239, 239, 0.5);
        }

.btn-outline-Swhite {
    color: #efefef;
    background-color: transparent;
    border-color: #efefef;
}

    .btn-outline-Swhite:hover {
        color: #212529;
        background-color: #efefef;
        border-color: #efefef;
    }

    .btn-outline-Swhite:focus, .btn-outline-Swhite.focus {
        box-shadow: 0 0 0 0.2rem rgba(239, 239, 239, 0.5);
    }

    .btn-outline-Swhite.disabled, .btn-outline-Swhite:disabled {
        color: #efefef;
        background-color: transparent;
    }

    .btn-outline-Swhite:not(:disabled):not(.disabled):active, .btn-outline-Swhite:not(:disabled):not(.disabled).active, .show > .btn-outline-Swhite.dropdown-toggle {
        color: #212529;
        background-color: #efefef;
        border-color: #efefef;
    }

        .btn-outline-Swhite:not(:disabled):not(.disabled):active:focus, .btn-outline-Swhite:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-Swhite.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.2rem rgba(239, 239, 239, 0.5);
        }

.list-group-item-Swhite {
    color: #b1b1b1;
    background-color: #14a14a14a;
}

    .list-group-item-Swhite.list-group-item-action:hover, .list-group-item-Swhite.list-group-item-action:focus {
        color: #b1b1b1;
        background-color: #13e13e13e;
    }

    .list-group-item-Swhite.list-group-item-action.active {
        color: #212529;
        background-color: #b1b1b1;
        border-color: #b1b1b1;
    }

.table-Swhite,
.table-Swhite > th,
.table-Swhite > td {
    background-color: #14a14a14a;
}

.table-hover .table-Swhite:hover {
    background-color: #13e13e13e;
}

    .table-hover .table-Swhite:hover > td,
    .table-hover .table-Swhite:hover > th {
        background-color: #13e13e13e;
    }

.text-Swhite {
    color: #efefef !important;
}

a.text-Swhite:hover, a.text-Swhite:focus {
    color: #d5d5d5 !important;
}
